apiVersion: v1
kind: Service
metadata:
  name: web-app-service
  namespace: devops-app
  labels:
    app: web-app
spec:
  type: LoadBalancer
  selector:
    app: web-app
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000
